<header style="background-color:#F4F7F5">
  <ul class="headerlist">
  <li class="list-float"><a class="list-style" href="default.asp">Home</a></li>
  <li class="list-float"><a class="list-style" href="news.asp">News</a></li>
  <li class="list-float"><a class="list-style" href="contact.asp">Contact</a></li>
  <li class="list-float"><a class="list-style" href="about.asp">About</a></li>
</ul>
</header>
