<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Massively by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link rel="stylesheet" href="assets/stylesheets/css/main.css" /> -->
		<!-- <noscript><link rel="stylesheet" href="assets/stylesheets/css/noscript.css" /></noscript> -->
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Heall </h1>
						<p class="font-comic">Take ownership over your body!
						<br>Get a Health Ally!</p>
						<div class="dropdown"  style="list-style:none;">
							<button class="dropbtn">LANGUAGE</button>
								<div class="dropdown-content">
									<li class="drop">
										<%= link_to t('.english'), languages_path(lang_pref: 'en'), method: :post %>
										<!-- <a href="/languages" class="lang-pref-opt"><%= t '.english' %></a> -->
									</li>

									<li class="drop">
										<%= link_to t('.spanish'), languages_path(lang_pref: 'es'), method: :post %>
										<!-- <a href="/languages" class="lang-pref-opt"><%= t '.spanish' %></a> -->
									</li>
								</div>
						</div>
						<ul class="actions">
							<li><a href="#header"></a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Massively</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">About</a></li>
							<li><a href="generic.html">Physical Health</a></li>
							<li><a href="elements.html">Mental Health</a></li>
						</ul>

					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">June 11, 2017</span>
									<h2><a href="#">Our Goal</a></h2>
									<p class="font-comic" >Young girls all over the world suffer a stigma regarding talking about health issues. A young Syrian refugee girl around the age 16 has many obstacles, for example, not knowing the language, not having the right support, doesnt go to school and is in this ()culture. so we want to connect her with professional who speak her language.
We know that health is important, so being able to educate yourself is essential. A young Syrian girl around the age 16 should be able to know about resources around her and be able to talk to professionals who can help her. </p>
								</header>
								<a href="#" class="image main"></a>
								<ul class="actions">
									<li><a href="#" class="button big">Full Story</a></li>
								</ul>
							</article>



						<!-- Footer -->


					</div>

				

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Heall</li><li>Design: <a href="https://html5up.net">Yaritza, Christian, Marcela</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<!-- <script src="assets/javascripts/js/jquery.min.js"></script>
			<script src="assets/javascripts/js/jquery.scrollex.min.js"></script>
			<script src="assets/javascripts/js/jquery.scrolly.min.js"></script>
			<script src="assets/javascripts/js/skel.min.js"></script>
			<script src="assets/javascripts/js/util.js"></script>
			<script src="assets/javascripts/js/main.js"></script> -->

	</body>
</html>
