
<h2 style="color:white;display:inline-block;margin: 25px;"> Welcome <%= @volunteer.username %></h2>
<label style="display:inline-block; padding-top:5px;margin-top: 20px;float:right;" class="switch">
  <input type="checkbox">
  <div class="slider round">On</div>
</label>
