

<center class="mask" style="padding-top: 35px;">
  <big>
<h1>Talk</h1>

<h5>taylor_swift_123:</h5>
<p>Bla Bla Bla</p>

<h5>taylor_swift_123:</h5>
<p>Bla Bla Bla</p>

<h5>You:</h5>
<p>Bla Bla Bla</p>

<h5>taylor_swift_123:</h5>
<p>Bla Bla Bla</p>

<h5>You:</h5>
<p>Bla Bla Bla</p>

<h5>taylor_swift_123:</h5>
<p>Bla Bla Bla</p>

<div id='chat-speak'>
  <%= form_for @message, url: conversation_path do |f| %>
      <%= text_field_tag :message %>
  <% end %>
</div>
</center>
</big>
