<p>Chat</p>

<div id='messages'>
<%= render partial: "message_list", layout: false, locals: {message: @all_messages} %>

</div>
<br/><br/>

<div id='chat-speak'>
  <p id="path", hidden><%= volunteer_girl_messages_path %></p>
  <%= form_for @message, url: volunteer_girl_messages_path do |f| %>
      <%= text_field_tag :message %>
  <% end %>
</div>
